.gradle/
.kotlin/
**/build/
build/
*/build/
local.properties
gradle/gradle-daemon-jvm.properties
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/
.DS_Store
.env
*.keystore
*.jks
keystore.properties
release/
outputs/
*.apk
*.aab
