storeFile=C:\\Users\\admin\\AndroidStudioProjects\\keystores\\nas-walkman-release.jks
storePassword=replace-with-your-keystore-password
keyAlias=nas-walkman
keyPassword=replace-with-your-key-password
